<a href="{{story['slug']}}" class="stories-list-story">
  <img src="{{focusedImageUrl(story['hero-image-s3-key'], [16,9], story['hero-image-metadata'], {w: 640})}}"/>
  <h2 class="stories-list-story-headline">{{story["headline"]}}</h2>
</a>
